<div class="container">
    <div class="jumbotron">
        <p class="mission transparent animated fadeIn">Now I have a story that I'd like to tell
            About this guy you all know him, he had me scared as hell!
            He comes to me at night after I crawl into bed
            He's burnt up like a weenie and his name is Fred!
            He wears the same hat and sweater every single day
            And even if it's hot, outside he wears it anyway!
            He's gone when I'm awake but he shows up when I'm asleep
            I can't believe that there's a nightmare - on my street!
            It was a Saturday evening if I remember it right
            And we had just gotten back off tour last night
            So the gang and I thought that it would be groovy
            If we summoned up the posse and done rushed the movies
            I got Angie, Jeff got Tina
            Ready Rock got some girl I'd never seen in my life
            That was all right because the lady was chill.</p>
    </div>
</div>