<div class="container services-table animated fadeIn">
    <div class="jumbotron vertical-center">
        <div class="container-fluid transparent center">
            <div class="table-responsive col-sm-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nail Services</th>
                        </tr>
                    </thead>
                    <tbody ng-model="price">
                        <tr>
                            <td>Polish Change</td>
                            <td>{{price.nailpolishChange}}</td>
                        </tr>
                        <tr>
                            <td>Natural Manicure</td>
                            <td>{{price.naturalManicure}}</td>
                        </tr>
                        <tr>
                            <td>Callus Treatment</td>
                            <td>{{price.nailCallus}}</td>
                        </tr>
                        <tr>
                            <td>French Manicure</td>
                            <td>{{price.frenchManicure}}</td>
                        </tr>
                        <tr>
                            <td>Manicure with Gel Polish</td>
                            <td>{{price.manicureGel}}</td>
                        </tr>
                        <tr>
                            <td>IBS Strengthening Treatment</td>
                            <td>{{price.IBS}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive col-sm-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Foot Services</th>
                        </tr>
                    </thead>
                    <tbody ng-model="price">
                        <tr>
                            <td>Toe Nail Polish Change</td>
                            <td>{{price.toepolishChange}}</td>
                        </tr>
                        <tr>
                            <td>Spa Pedicures</td>
                            <td>{{price.spaPedicure}}</td>
                        </tr>
                        <tr>
                            <td>Callus Treatment</td>
                            <td>{{price.toeCallus}}</td>
                        </tr>
                        <tr>
                            <td>French Manicure</td>
                            <td>{{price.toefrenchManicure}}</td>
                        </tr>
                        <tr>
                            <td>Pedicure with Gel Polish</td>
                            <td>{{price.pedicureGel}}</td>
                        </tr>
                        <tr>
                            <td>Advanced Medical Pedicure</td>
                            <td>{{price.advancedPedicure}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>