<div class="container services-table animated fadeIn">
    <div class="jumbotron vertical-center">
        <div class="container-fluid transparent center">
            <div class="table-responsive col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Services</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="service in services">
                        <tr>
                            <td>{{service.service}}</td>
                            <td>${{service.price}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>