body {
    width: 100%;
}

html {
    min-height: 100%;
}

.navbar-default {
    background-color: #FF1532;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar {
    margin-top: -55px;
}

.navbar li > a {
    color: white;
}

.navbar-default .navbar-collapse {
    border-top: 0px; /*Override bootstrap's 1px gray border*/
}

.navbar-default .navbar-toggle .icon-bar  {
    background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: inherit;
}

.header > img.logo {
    position: relative;
    width: 400px;
    z-index: 1;
}

.footer-container > p {
    text-align: center;
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

